services:
  # Redis gratuito en Render
  - type: redis
    name: certerus-redis
    plan: free
    maxmemoryPolicy: allkeys-lru
    ipAllowList: [] # Solo accesible desde otros servicios de Render

  # Backend NestJS
  - type: web
    name: certerus-backend
    runtime: node
    plan: free
    region: oregon # Cambia a 'frankfurt' si prefieres Europa
    buildCommand: npm install && npm run build && cp -r src/mail/templates dist/mail/templates
    startCommand: npm run start:prod
    healthCheckPath: /health
    envVars:
      # Node
      - key: NODE_ENV
        value: production
      
      # Database PostgreSQL (NeonDB)
      - key: DATABASE_HOST
        value: ep-sweet-bread-accnu6w2-pooler.sa-east-1.aws.neon.tech
      - key: DATABASE_PORT
        value: 5432
      - key: DATABASE_USER
        value: neondb_owner
      - key: DATABASE_PASSWORD
        value: npg_mt4JbkgWilv8
      - key: DATABASE_NAME
        value: neondb
      - key: DATABASE_SSL
        value: true # NeonDB requiere SSL
      - key: DB_SYNCHRONIZE
        value: false # NUNCA true en producción
      
      
      - key: REDIS_HOST
        fromService:
          type: redis
          name: certerus-redis
          property: host
      - key: REDIS_PORT
        fromService:
          type: redis
          name: certerus-redis
          property: port
      - key: REDIS_URL
        fromService:
          type: redis
          name: certerus-redis
          property: connectionString
      - key: REDIS_TLS
        value: false # Render Redis free tier no usa TLS
      
      
      - key: JWT_SECRET
        value: N5dc8lP4OmNNhEYh3QN1yHHLz8Rtlwn/HLOc14q62DN4Go9/YvbtELcSDpV9M5z8b7A85NbKu3gq3PrdEw4p7A
      
      # Email (Gmail con App Password)
      - key: EMAIL_USER
        value: datosbase666@gmail.com
      - key: EMAIL_PASS
        value: ulfkakhrlmwyplsp
      
      # Admin Emails
      - key: ADMIN_EMAILS
        value: benjamin.gilberto@alumnos.ucn.cl, jairo.vergara@alumnos.ucn.cl, cristian.nunez@alumnos.ucn.cl
      
      # Server Configuration (PORT y BASE_URL se configuran automáticamente por Render)
      - key: CLIENT_URL
        value: https://certerus-garage.vercel.app,https://garage-frontendd.vercel.app,https://garage-frontendd-h1l2eh96e-atuning120s-projects.vercel.app
